<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Welcome To the Ricky Morty Profile Application
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let list of listarray" class="Listitem">
      <img [src]="list.image" height="100px" width="100px">
      <div class="newdetails">
        <ion-label> Name:{{list.name}}</ion-label>
        <span>
          <ion-label>Species:{{list.species}}</ion-label>
          <ion-label>Status:{{list.status}}</ion-label>
          <ion-label>Origin{{list.origin?.name}}</ion-label>
          <ion-label>Location:{{list.location?.name}}</ion-label>
          <ion-label>Episode Count:{{list.episode?.length}}</ion-label>

        </span>
      </div>
    </ion-item>
  </ion-list>  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="infiniteScrollEnabled">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>  
  <div *ngIf="errorflag">
No data Found! 
  </div>
</ion-content>